<div class="container-fluid container-fluid-custom py-md-5 mb-5">
  <main>
    <div class="row py-md-5 text-center justify-content-center">
      <form action="/login" method="POST">
        <input type="text" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Login</button>
      </form>
      <a href="/auth/google">Login with Google</a>
    </div>
  </main>
</div>
